body {
    font-family: San Francisco, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffffe3;
}


/*шапка*/

header {
    margin: 0 auto;
    padding: 0px;
    opacity: 0.97;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-size: 12px;
    /*  навігація буде наверху */
}

nav {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    max-width: 100%;
    margin: 0px;
    max-height: 65px;
}

.menu-toggle {
    display: none;
    padding-top: 2px;
    /* Приховую кнопку меню на великих екранах */
    cursor: pointer;
}

.menu-toggle img {
    height: 20px;
    width: auto;
}

.navbar-logo {
    margin-left: auto;
    /* Розміщую логотип в крайньому правому положенні */
}

#nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 0;
    padding: 0 30% 0 30%;
}

.logo-apple {
    position: relative;
    top: -3px;
}

@media (max-width: 768px) {
    #nav-list {
        flex-direction: column;
        /* Вертикальна навігація */
        display: none;
        /* Спочатку приховуємо */
    }
    .menu-toggle {
        display: inline;
        /* Відображаємо кнопку меню */
    }
}

#nav-list li {
    padding: 10px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
}

#nav-list img {
    height: 15px;
    /* Задаю висоту для іконок пошуку та корзини */
    width: auto;
}

nav a {
    padding: 15px 5px 15px 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(46, 43, 43);
    font-weight: bold;
    opacity: 0.70;
}

nav a:hover {
    opacity: 0.80;
}

.matherday {
    /*контейнер в якомому є елименти до дня матері*/
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('src/snapedit_1715372702739.jpeg') no-repeat center center;
    /*зображення яке розміщується в центрі і масштабується, щоб охопити весь простір */
    background-size: cover;
    position: relative;
    color: white;
}

.matherday-content {
    position: relative;
    top: 202px;
    text-align: center;
}

.matherday h1 {
    font-size: 55px;
    margin: 0;
    color: #1f1e1e;
}

.matherday p {
    color: #201f1f;
    font-size: 30px;
    margin: 4px;
    margin-bottom: 30px;
}

.botton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0469d4;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.botton:hover {
    background-color: #007aff;
    /* Трохи світліший відтінок при наведенні */
}

.products {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.product {
    max-width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Анімація для фону */
}

.productone {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('src/snapedit_1715464498035.jpeg') no-repeat center center;
    /*зображення яке розміщується в центрі і масштабується, щоб охопити весь простір */
    background-size: cover;
    position: relative;
    width: 100%;
    margin-top: 8px;
}

.productone h3 {
    position: relative;
    left: 450px;
    top: -170px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
}

.productone p {
    position: relative;
    left: -150px;
    top: -130px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    opacity: 0.50;
}

.Learn {
    position: relative;
    left: -650px;
    top: -80px;
    display: inline-block;
    padding: 10px;
    background-color: #1c1d1d;
    color: #fff;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 5px 50px 5px 50px;
}

.Order {
    position: relative;
    left: -600px;
    top: -80px;
    display: inline-block;
    border: 1px solid #1c1d1d;
    color: black;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 5px 50px 5px 50px;
    margin-left: 15px;
}

.Learn:hover {
    background-color: #35383a;
}

.Order:hover {
    background-color: #36383a;
    color: white;
}

.producttwo {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('src/snapedit_1715595926353.jpeg') no-repeat center center;
    /*зображення яке розміщується в центрі і масштабується, щоб охопити весь простір */
    background-size: cover;
    position: relative;
    width: 100%;
    margin-top: 8px;
}

.Learntwo {
    display: inline-block;
    background-color: #2848d7;
    color: #fff;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Ordertwo {
    display: inline-block;
    border: 1px solid #2848d7;
    color: #2848d7;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Learntwo:hover {
    background-color: #3f5ff0;
}

.Ordertwo:hover {
    background-color: #2848d7;
    color: white;
}

.LearntwoOrdertwo {
    position: relative;
    left: -20px;
    top: -70px;
}

.productthree {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('src/snapedit_1715597377613.jpeg') no-repeat center center;
    background-size: cover;
    position: relative;
    width: 100%;
    margin-top: 8px;
}

.productfor {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('src/snapedit_1715597797117.jpeg') no-repeat center center;
    background-size: cover;
    position: relative;
    width: 100%;
    margin-top: 8px;
}

.LearnthreeBuythree {
    position: relative;
    left: -265px;
    top: -130px;
}

.Learntthee {
    display: inline-block;
    background-color: #2848d7;
    color: #fff;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Learntthee:hover {
    background-color: #3f5ff0;
}

.Buythree {
    display: inline-block;
    border: 1px solid #2848d7;
    color: #2848d7;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Buythree:hover {
    background-color: #2848d7;
    color: white;
}

.Learntthee1Buythree1 {
    position: relative;
    left: 250px;
    top: -130px;
}

.Learntthee1 {
    display: inline-block;
    background-color: #2848d7;
    color: #fff;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Learntthee1:hover {
    background-color: #3f5ff0;
}

.Buythree1 {
    display: inline-block;
    border: 1px solid #2848d7;
    color: #2848d7;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Buythree1:hover {
    background-color: #2848d7;
    color: white;
}

.LearnforBuyfor {
    position: relative;
    left: -260px;
    top: -110px;
}

.Learnfor {
    display: inline-block;
    background-color: #2848d7;
    color: #fff;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Learnfor:hover {
    background-color: #3f5ff0;
}

.Buyfor {
    display: inline-block;
    border: 1px solid #2848d7;
    color: #2848d7;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Buyfor:hover {
    background-color: #2848d7;
    color: white;
}

.Learnfor2Buyfor2 {
    position: relative;
    top: 240px;
    left: 240px;
}

.Learnfor2 {
    display: inline-block;
    background-color: #2848d7;
    color: #fff;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Learnfor2:hover {
    background-color: #3f5ff0;
}

.Buyfor2 {
    display: inline-block;
    border: 1px solid #2848d7;
    color: #2848d7;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 15px;
}

.Buyfor2:hover {
    background-color: #2848d7;
    color: white;
}


/*слайдер*/

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* Щоб приховати великі слайди, які виходять за межі */
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider {
    display: flex;
    width: 100%;
    /* Щоб всі слайди розмістилися в одному ряду */
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/*підвал*/

footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 30px 0;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.90;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-information {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: -10px;
    color: #665d5d;
    border-bottom: 1px solid #ddd;
}

.footer-information ul {
    list-style-type: none;
    padding: 0;
}

.footer-information ul li {
    line-height: 1.4;
    margin-bottom: 10px;
}

.footer-information ul li a {
    color: #101011;
}

.footer-information ul li a:hover {
    text-decoration: underline;
}


/* Медіа-запит для адаптивного дизайну */

@media (max-width: 768px) {
    .footer-information {
        padding: 0 20px;
    }
}


/* Стилізація блоку навігації */

.footer-navigation {
    position: relative;
    left: -157px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1 0 auto;
    padding: 0 12%;
    text-align: left;
    /* Вирівнювання тексту зліва */
    margin: 0 10px;
    margin-bottom: 20px;
    margin-left: -13%;
    width: fit-content;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    width: fit-content;
}

.footer-column ul li {
    margin-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.footer-column ul li a {
    color: #555;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-navigation-title {
    font-weight: bold;
    color: #444447;
}

.retreat {
    padding-top: 5px;
    padding-bottom: 5px;
}

.apple-footer {
    background-color: #f7f7f7;
    padding: 30px 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.apple-footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-textone {
    color: #544e4e;
    line-height: 1.5;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    left: 90px;
    top: 30px;
}

.footer-text {
    position: relative;
    bottom: -15px;
    left: 85px;
    color: #544e4e;
    line-height: 1.5;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    display: block;
}

.United {
    position: relative;
    left: 0px;
    top: 38px;
    text-decoration: none;
    color: #544e4e;
}

.United:hover {
    text-decoration: underline;
}

.footer-link {
    color: rgb(77, 77, 81);
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.apple-footer-content-two img {
    width: 20px;
    height: 20px;
    position: relative;
    left: -450px;
    top: -40px;
}

.apple-footer-content-two a {
    margin: 0 10px 0 10px;
}